* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.form-register {
    background: #A1ADAD;
    padding: 20px;
    margin: auto;
    margin-top: 8px;
    border-radius: 5px;
    min-height: 100vh;
    justify-content: center;
    align-items: center;

}

.form-register h1 {
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
}

.form-register h4 {
    font-size: 17px;
    margin-bottom: 20px;
    text-align: center;
}

.controls {
    width: 90%;

}

